<!-- Default home page -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>


<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container">Get advice</h1>
    <div class="container"></div>
    <br/>
  </div>

  <div class="main container clearfix">
      <div class="info-area">
<!--
        <div class="row">
        <div class="col-sm-3"><a href="<%= BrandingService.getBrandAndPortalPath(req) %>#quickstart"> Stash Quickstart Guide </a></div>
        <div class="col-sm-3"><a href="http://www.lib.uts.edu.au/research/data-management/" target="_blank">Stash Help</a></div>
        <div class="col-sm-3"><a href="<%= BrandingService.getBrandAndPortalPath(req) %>#contacts"> RDM and eResearch help </a></div>
        <div class="col-sm-3"><a href="<%= BrandingService.getBrandAndPortalPath(req) %>/getAdvice"#grantsethics"> RDM info for grants and ethics  </a></div>
        </div> <br />    <br />
-->

<div class="row">
  <div class="col-sm-12"> <h4>Stash Orientation Guide </h4></div>
</div>
<div class="row">
   <div class="col-sm-12"><em> More "how-to" help is available at the <a href="http://www.lib.uts.edu.au/research/data-management/" target="_blank"> Stash Help Pages</a></em></div>
</div>
    <div class="row">
        <div class="col-sm-12">
          <div class="info-table-wrap">
          <table class="info-table">
            <tr>
              <th width="30%"> What is a... &nbsp;?</th>
              <th width="40%"> Why should I? </th>
              <th width="30%"> When should I?</th>
            </tr>
            <tr>
              <td width="30%"> <strong>RDMP</strong> or Research Data Management Plan establishes a link between the project you are working on (even if informal) and your research data.
              It can be edited only by the Data Manager and First Named Chief Investigator (FNCI) and can be viewed only by UTS collaborators you have added as Contributors.
              <br /></td>
              <td width="40%"> <ul>
                <li>It helps UTS to provide you with the data services you will need to complete your project; </li>
                <li>You need one to set up workspaces, and we need it to keep track of who those workspaces belong to;</li>
                <li> Top funders usually require it;</li>
                <li> It is required under <a href="http://www.gsu.uts.edu.au/policies/research-management-policy.html" target="_blank"> UTS Research Management Policy. </a></li>
                <li> If you have an RDMP, it will auto-fill your Data Records, saving double entry.
              </ul></td>
              <td width="30%"> <strong>Proposal stage:</strong> if you are planning a project that will create or compute data in very large volumes or will need specific data infrastructure (e.g. databases), <a href="mailto:eresearch-it@uts.edu.au">contact us</a>.
                <br /> <br />NB.<em> "RDM info for grants and ethics" </em> (scroll down) supplies suggestions for the data management section of your grant applications.
                <br /> <br /><strong>Post-award stage:</strong> all other projects.</td><br /><br /><br />
            </tr>
            <tr>
              <td width="30%"> <strong>Workspace</strong> - a platform or service provided by UTS for you to store and manipulate data during a research project.</td>
              <td width="40%"> <ul>
                 <li> See the <a href="<%= BrandingService.getBrandAndPortalPath(req) %>/availableServicesList"> Workspace services list </a></li>
                 <li> If your platform of choice is available, you can request it directly through Stash and can expect quicker turnaround. You must have an RDMP to do this, so we know who owns the workspace and how long to keep it. Other platforms and features will be coming soon. </li>
                 </ul></td>
              <td width="30%"> <strong>Anytime</strong> you need one for research.</td>
            </tr>
            <tr>
              <td width="30%"> <strong>Data Record</strong> - a record of the research data, whether primary or processed, used to reach your research findings. It should include any documentation necessary to understand or reproduce your research, including code and any type of digital artefact. It can be edited only by the Data Manager and FNCI and can be viewed only by UTS collaborators you have added as Contributors.</td>
              <td width="40%"> <ul>
                 <li> It will be easier to find your (or your student's) data after long periods of time have elapsed;</li>
                 <li> We will manage it, according to your instructions, for the minimum retention period; </li>
                 <li> Research integrity demands it, as does the <a href="http://www.gsu.uts.edu.au/policies/research-management-policy.html" target="_blank"> UTS Research Management Policy. </a></li>
                 <li> You will need a Data Record in order to create a Data Publication. &nbsp; (NB. You don't need an RDMP to create a Data Record but, if you do have one, it will auto-fill most of the Data Record.) </li>
                 </ul></td>
               <td width="30%"> Best-practice varies by discipline, but consider creating a data record: <ul><li><strong>After collection</strong> of primary or raw data, before further processing;</li>
                  <li><strong>After a publication</strong> is disseminated; note that an increasing number of journals require data publication;</li>
                  <li><strong>After a project</strong> is complete.</li></td>
            </tr>
            <tr>
              <td width="30%"> <strong>Data Publication</strong> - publications (usually on the UTS research data portal and the <a href="http://researchdata.ands.org.au" target="_blank">Australian Research Data Commons </a>) of information about a set of research data that is available for re-use by other researchers (conditions may apply). A Data Publication may be Open Access (the data is available for download) or Mediated Access (access criteria apply). </td>
              <td width="40%"> <ul>
                 <li> Your journal or funder may require that you publish it;</li>
                 <li> It is a way to show your data to other researchers under license, to ensure that you get the attribution you deserve; </li>
                 <li> Your data publication can be cited as readily as your traditional publications, because we can publish it with the required citation, including a DOI; </li>
                 <li> Your data may be important to the future of knowledge in unpredictable ways; </li>
                 <li> Open data is a crucial element of scientific enquiry;</li>
                 <li> It is required that you <em> consider </em> data publication under the <a href="http://www.gsu.uts.edu.au/policies/research-management-policy.html" target="_blank"> UTS Research Management Policy </a> with the understanding that there may be legal, ethical or commercial impediments to doing so.</li>
                 </ul></td>
               <td width="30%"> <strong>Anytime </strong>- your data publication can be embargoed to allow for your traditional outputs to be published first.</td>
            </tr>
            <tr>
              <td width="30%"> <strong>Data Steward</strong> is defined in the Data Governance Policy as a senior manager or director with stewardship responsibility for a data domain or sub-domain.   </td>
              <td width="40%"> <ul>
                 <li> In the Research Data Management context, the First Named Chief Investigator (FNCI) is the Data Steward of research data from their projects, while they remain employed at UTS. Only the Data Steward/FNCI and the Data Manager can edit records in Stash. </li>
                 <li> The Data Steward is responsible for signing off on the disposal of research data after the retention period has expired. </li>
                 </ul></td>
                 <td> When <strong> an FNCI leaves UTS</strong>, they should transfer responsibility for stewardship of the research data to the Associate Dean Research or Research Centre Director. </td>
            </tr>
            <tr>
              <td width="30%"> <strong>Data Manager</strong> is the person who manages collection, storage, access to, and use of, the research data.  </td>
              <td width="40%"> <ul>
                 <li>  During a project the Data Manager is the person with responsibility for the hands-on management of the research data (e.g. Research Assistant, PhD student, Data Analyst, Post Doc). <br /> <br /> After the project, the Data Manager is the contact point for any enquiries about the research data. Only the Data Manager and the Data Steward/FNCI can edit records in Stash. </li>
               </ul></td>
               <td><strong>Before the Data Manager leaves a project</strong>, they should transfer responsibility for Data Management to the FNCI or their nominated representative. <td>
            </tr>
            <tr>
              <td width="30%"> <strong>Transfer of Responsibilities</strong> is available under the Manage menu. Transferal of responsibilities can only be done by the person who currently holds the responsibility, or by a <a href='mailto:data-librarian@uts.edu.au'> system administrator</a>. Transfer of responsibility revokes edit rights to the Stash records about the management of the data, but doesnt effect the data itself. </td>
              <td width="40%"> <ul>
                 <li>  This enables Data Managers and Data Stewards, before leaving a project team or UTS, to delegate the data responsibilities described above to a trusted representative.  </li>
                 <li>  If you want to retain view access to the Stash records, add yourself to Contributors in the record before Transfering Responsibility.  </li>
               </ul></td>
               <td><strong>Before the Data Manager or FNCI/Data Steward leaves a research project and/or UTS. <td>
            </tr>
          </table></div>
        </div>
      </div>
</div>
<br /> <br />
<div class="row">
  <div class="col-sm-12"> <h4> <a link="#contacts"> RDM and eResearch help</a> </h4></div>
</div><br />
<div class="row">
  <div class="col-sm-12"> Research data management (RDM) services at UTS are provided jointly by UTS ITD's eResearch team and UTS Library's Research Data Team.
      <br /><br /><ul><li>
      <strong>UTS Library's</strong> <a href="http://www.lib.uts.edu.au/about-us/staff-profiles/information-services/research-data-team" target="_blank"> Research Data Team </a>is responsible for providing <a href="http://www.lib.uts.edu.au/research/data-management/" target="_blank">training and consultation on RDM</a> across the research project lifecycle.
      </li><li><strong>UTS eResearch</strong> are dedicated to helping researchers with research-specific tools, technology and training; a little like IML for researchers.
      eResearch provides researchers with a number of <a href="<%= BrandingService.getBrandAndPortalPath(req) %>/availableServicesList"> research platform services </a>
      which meet the requirements of the <a href="http://www.gsu.uts.edu.au/policies/research-management-policy.html" target="_blank"> UTS Research Management Policy (2018)</a> and accompanying <a href="https://staff.uts.edu.au/topichub/RIO%20Library/RIO%20documents/Research%20environment/New%20research%20directives/Research%20Management%20Guidelines/Guidelines%20for%20the%20Management%20of%20Research%20Data%20v0%2084%2020171120.pdf?Web=1" target="_blank">Guidelines for Research Data Management (opens in StaffConnect)</a>.
      </li></ul>
  </div>
</div> <br />
<div class="row">
  <div class="col-sm-2"><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Contacts:</strong></div>
  <div class="col-sm-4">RDM enquiries:</div>
  <div class="col-sm-4"><img src="<%= BrandingService.getBrandAndPortalPath(req) %>/images/email.png" alt="email icon"><a href="mailto:data-librarian@uts.edu.au"> data-librarian@uts.edu.au </a></div>
  <div class="col-sm-2"></div>
</div> <br />
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">Research IT enquiries:</div>
  <div class="col-sm-4"><img src="<%= BrandingService.getBrandAndPortalPath(req) %>/images/email.png" alt="email icon"><a href="mailto:eresearch-it@uts.edu.au"> eresearch-it@uts.edu.au </a></div>
  <div class="col-sm-2"></div>
</div> <br />
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">Hacky Hour (Researcher Help Desk)</div>
  <div class="col-sm-4"><img src="<%= BrandingService.getBrandAndPortalPath(req) %>/images/helpdesk.png" alt="helpdesk icon"><a href="https://eresearch.uts.edu.au/2015/08/03/hacky_hour_1.htm" target="_blank"> Penny Lane Cafe, B11. Thursdays 3-4pm</a></div>
  <div class="col-sm-2"></div>
</div> <br /><br />

  <div class="row">
      <div class="col-sm-12"> <h4> <a link="#grantsethics">RDM info for grants and ethics</a> </h4></div>
  </div><br />
  <div class="row">
      <div class="col-sm-12">
        <h4> Grant applications </h4> The ARC and NHMRC (among other funders) ask how you intend to manage your research data, and have recently made it clear that they are not looking for a generic response. <br /> <br />However, if you manage your data throughout the research lifecycle using Stash, you will be able to state that your data is managed via an integrated data management system that ensures compliance with the
        <a href="https://www.nhmrc.gov.au/guidelines-publications/r41" target="_blank"> Australian Code for the Responsible Conduct of Research</a>. Stash also offers the ability to easily publish your data for reuse on the UTS Research Data website and <a href="researchdata.ands.org.au" target="_blank"> Research Data Australia</a>, whether openly or via mediated access.<br /> <br />
        <br /><h4> Data with sensitivities</h4> You may be required to provide information on how you will manage the security of your data. It is important to remember that data security is not just an IT issue but also needs to be addressed via well-developed data handling procedures (See the ABS explanation of the <a href="http://www.abs.gov.au/ausstats/abs@.nsf/Latestproducts/1160.0Main%20Features4Aug%202017?opendocument&tabname=S" target="_blank"> Five Safes Framework </a> or contact <a href="mailto:eResearch-it@uts.edu.au"> eResearch </a> for help). Below you will find some statements about UTS IT and Data security and an example of how these might be used for a Clinical Trials, Health or sensitive data application. <br /> <br />  <br/>
        <h5>UTS IT Security Management: </h5>
        UTS has a policy directive covering IT security, based on the Information Technology — Security Techniques — Code of practice for information security management (AS/NZS ISO/IEC 27002:2006). This includes processes for the mandatory reporting of security breaches.
      </br /></br /></br /><h5>UTS Data centres: </h5>
        - applies to eResearch Store, LimeSurvey, Gitlab, Omero, Omeka and RedCap (which is stored in the offsite data centre only) <br> UTS research data is stored in two high security data centres: one onsite at UTS, with multiple security doors and strictly limited keycard access, and the other, offsite in a secure 3rd party data centre, approved by UTS Legal and with certifications including ISO 27001, ASIO T4 "Intruder Resistant" and PCI DSS.
        In both data centres, storage devices are kept in secure racks where only a limited team of approved UTS administrators can access the rack contents.
      </br /></br /></br /><h5> Data Security  </h5>
        <strong>eResearch Store (aka 'Isilon')</strong> offers granular access control down to User account level. eResearch fileshares are accessible via the UTS secure network, protected by a firewall. From offsite they can be accessed only via VPN. On balance, eResearch Store is the safest location for your data as it will be securely managed for the entire retention period.
        <br /><br /><strong>CloudStor</strong> is hosted by AARNET (the Australian Academic Research Network), is regularly penetration tested, and is accessible only to individuals with an Australian Access Federation (AAF) login. CloudStor encrypts all data in transit via TLS tunnels between the client and the ha-proxy off-loaders within the CloudStor environment. The CloudStor system encrypts all its storage drives and offers encryption at rest (Source: <a href="https://support.aarnet.edu.au/hc/en-us/categories/200217608-CloudStor" target='_blank'> CloudStor FAQs</a>). If you require a sync and share service or file transfer service, CloudStor is a reasonable option during the active research lifecycle and preferable to carrying sensitive data around on easily lost removable media or mobile devices. However, the master copy of the data should be saved to eResearch Store for long term storage. (NB. this is also the case for <strong>OneDrive</strong> which is is supported by IT Support rather than eResearch)
        <br /><br /><strong>eNotebooks (LabArchives)</strong> eNotebooks are hosted by LabArchives. LabArchives is a secure application on servers hosted at Amazon Web Services located in New South Wales. SSL certificates provide full-time HTTPS security for all User interactions with the application.
LabArchives has successfully passed network and application security tests from multiple vendors. Each customer's data is stored in its own database, isolated from other customer data.
Disk storage systems used for customer data utilise block-level "encryption at rest" via LUKS/AES/SHA256 and all backups of customer data reside only in an encrypted form.
Access logs are monitored regularly for malicious or unusual traffic.<br /> NB. Because eNotebooks keep an audit trail for IP Tracking purposes they shouldn't be used for data that must be deleted.
      </br /></br /></br /><h5>Example: for Clinical trials, Health and other sensitive data</h5>
        UTS research data is managed via Stash, a full lifecycle data management solution which records requirements for access control, retention, disposal and security level of research data. Sensitive data is stored on eResearch fileshares with granular access control. They are accessible only via the UTS secure network, protected by a firewall, or by VPN. The storage system is distributed across two high security data centres with strict physical and biometric access controls and a limited team of administrators. Data security at rest and in transit is managed in accordance with the UTS IT Security Policy, which is based on the ISO/IEC 27002:2006 Code of Practice for Information Security Management. For secure data collection and collaboration with researchers at other institutions, UTS researchers can also use REDCap, a FISMA and HIPAA approved platform.
      </div>
  </div><br />
  </div>


</div>
